{% extends 'layout.html'%}

{%block content%}
<!-- <link href="public/css/style.css" rel="stylesheet"> -->
 <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="1/">关于我</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>记得初中的时候，班主任问我：“你长大的梦想是什么”，我说我要有个自己的网站。现在这只是梦想的开始吧。</p>
        <img src="/public/images/dream.jpg" >
      </ul>
      <h2>About my blog</h2>
      <ul class="blog_a">
        <p>后端技术      ：Node.js(Express)</p>
        <p>网络接入商    ：阿里云计算有限公司</p>
        <p>域名注册服务商：北京新网数码信息技术有限公司</p>
      </ul>
    </div>
{%endblock%}

{%block aside%}
 <div class="avatar"><a href="about.html"><span>关于缪文文</span></a></div>
    <div class="topspaceinfo2">
      <h1>绝版青春</h1>
      <p>青春是一本太仓促的书，我们含着泪，一读再读。</p>
    </div>
{%endblock%}
